
#text{
	font-family: Verdana;
	margin:50px;
	padding:50px;
}
#text h1{
	color:green;
	font-size:50px;
	padding-bottom: 5px;
	border-bottom: 2px solid red;
}
#text p{
	margin:auto;
	padding:10px 20px;
	width:50%;
	height:20%;
	font-size: 20px;
	animation: colorchange 10s infinite linear;
}
#text footer{
	position:fixed;
	bottom:20px;
}
#text footer a:link{
	text-decoration: none;
	color:green;
}
#text footer a:visited{
	text-decoration: none;
	color:black;
}
#text footer a:hover{
	text-decoration: underline;
	color:red;
}
#text footer a:active{
	text-decoration: underline;
	color:blue;
}
body {
  background-color: skyblue;
/*  border:5px yellow solid;*/
}
.back{
	position:fixed;
	bottom:0px;
	right:0px;
	width:500px;
	height:25%;
	animation: colorchange 10s infinite linear;
/*	border:5px green solid;*/
}
.container {
  position:relative;
  left:35%;
  width: 150px;
  height: 150px;
/*  border:5px red solid;*/
}
.moon, .dog {
  position:absolute;
  top: 0;
  width: 150px;
  height: 150px;
  border-radius: 100%;
/*  border:5px yellow solid;*/
  z-index:1;

}

.moon {
  background: #FEAD03;
}

.dog {
  background: #000;
  animation: time 10s infinite linear, colorchange 10s infinite linear;
}

@keyframes colorchange{
  0% {
    background: #fff;
  }
  50% {
    background: #000;
  }
  100% {
    background: #fff;
  }
}
@keyframes time {
  0% {
    left: 160px;
  }
  100% {
    left: -160px;
  }
}